[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.log
*.txt
*.json
!appsettings.json
!plugin.json
!plugin_config.json
!appsettings.Development.json
!changelog.json
!versions-index.json
!versions/**/*.json
/temp_deploy/
/temp_changelog/
/temp_source.txt
/temp_dist/
/temp_dist_v*/
/temp_build_verify/
